
.admin-title {
    text-decoration: none;
    color: #000;

}

.admin-title:hover {
    text-decoration: none;
    color: #000;

}

.lesson-part {
    border-style: dashed;
    border-width: 1px;
}

.lesson-part-buttons {
    padding: 8px 0 0 8px;
}