@(id: Long)

@admin("Course!!") {

        <script type='text/javascript'>
            var courseId = @id
        </script>

        <script src='@routes.Assets.at("js/course.js")' type='text/javascript'></script>


        <table id="course"></table>

       <form action="@routes.CourseController.updateCourse()" method="update">
            <input id="course_id" name="course_id" type = "hidden" value=""/>
            <input id="name" name="name">
            <button>Update Course</button>
        </form>

}
