@(paragraph: LessonPartParagraph)

@admin("Paragraph!!") {

        <script src='@routes.Assets.at("js/paragraph.js")' type='text/javascript'></script>


        <div class="alert alert-success" role="alert">Test</div>

        <form role="form" method="post">
            <input name="part_id" id="part_id" type = "hidden" value="@paragraph.lesson_part_id"/>
            <input name="lesson_id" id="lesson_id" type = "hidden" value="@paragraph.lesson_id"/>
            <div class="form-group">
                <label for="headline">Headline:</label>
                <input type="text" class="form-control" id="headline" name="headline" value="@paragraph.headline">
            </div>
            <div class="form-group">
                <label for="text">Text:</label>
                <textarea class="form-control" id="text" name="text">@paragraph.text</textarea>
            </div>
            <button type="submit" class="update btn btn-default">Update Paragraph</button>
        </form>

        <br/>

}
